.content {
  height: 182px;
  position: relative;

  $arrow-color: #aaffaa;
  $arrow-size: 35px;

  .arrow-button {
    position: absolute;
    height: $arrow-size;
    width: $arrow-size;
    background-color: $arrow-color;
    cursor: pointer;
    // スマホでタップしたままスワイプするとpointerupイベントが発生しない現象の防止
    touch-action: none;
    // 長押し時のポップアップ停止
    user-select: none;
  }

  .up {
    left: 90px;
    top: 30px;
  }
  .left {
    left: 45px;
    top: 75px;
  }
  .right {
    left: 135px;
    top: 75px;
  }
  .down {
    left: 90px;
    top: 120px;
  }
  .investigate {
    position: absolute;
    right: 50px;
    top: 50px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #aaffaa;
    cursor: pointer;
  }
}
