<div class="game-area">
  <app-conversation *ngIf="isShowConversationComponent" [conversationState]="gameState.conversationState"
    (contentClick)="onClickConversationContent()"></app-conversation>
  <app-famicon-style-game *ngIf="gameState.chapterType === chapterType.FirstYakisobaBread"
    [famiconStyleGameState]="gameState.famiconStyleGameState"
    (moveButtonClick)="onClickMoveButtonInFamiconStyleGame($event)"
    (investigateButtonClick)="onClickInvestigateButtonInFamiconStyleGame()"></app-famicon-style-game>
</div>