.layer2 {
  background-size: auto 100%;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  width: 124.587px;
  height: 31.147px;
  position: absolute;
  top: 245px;
}

.kira {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: 275px;
}
